# Sujit Bhausaheb Jamdade

https://www.linkedin.com/in/sujit-jamdade-615203178/

## Variables and String

Variables are used to store values. A string is a series of
characters, surrounded by single or double quotes

In [1]:
# Hello World!

print("Hello World!")

Hello World!

In [2]:
# Hello world with a variable

msg = "Hello World!"
print(msg)

Hello World!

In [3]:
# Concatenation (combining strings)

first_name = "Sujit"
last_name = "Jamdade"
full_name = first_name + " " + last_name
print(full_name)

Sujit Jamdade

## List

A list stores a series of items in a particular order. You
access items using an index, or within a loop.

In [5]:
# Make a list

friends = ['Aniket','Chetan','Jivan','Mitesh','Pawan']
print(friends)

['Aniket', 'Chetan', 'Jivan', 'Mitesh', 'Pawan']

In [8]:
# Get the first item in a list

first_item = friends[0]
first_item

'Aniket'

In [9]:
# Get the last item in a list

last_item = friends[-1]
last_item

'Pawan'

In [10]:
# Looping through a list

for frd_name in friends:
    print(frd_name)

Aniket
Chetan
Jivan
Mitesh
Pawan

In [11]:
# Adding items to a list

friends.append('Gudo_van')
friends

['Aniket', 'Chetan', 'Jivan', 'Mitesh', 'Pawan', 'Gudo_van']

In [12]:
friends.append('Tejas')
friends.append('Komal')

In [13]:
friends

['Aniket', 'Chetan', 'Jivan', 'Mitesh', 'Pawan', 'Gudo_van', 'Tejas', 'Komal']

In [14]:
# Making numerical lists

squares = []
for num in range(1,11):
    squares.append(num**2)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
# List comprehensions

squares = [num**2 for num in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
# Slicing a list

friends = ['Aniket', 'Chetan', 'Jivan', 'Mitesh', 'Pawan', 'Gudo_van', 'Tejas', 'Komal']

first_two_frd = friends[:2]
first_two_frd

['Aniket', 'Chetan']

In [19]:
# Copying a list

copy_of_friends = friends[:]
copy_of_friends

['Aniket', 'Chetan', 'Jivan', 'Mitesh', 'Pawan', 'Gudo_van', 'Tejas', 'Komal']

## Tuple

Tuples are similar to lists, but the items in a tuple can't be
modified.

In [27]:
# Making a tuple

runs = (12,3,52,100,100)
print(runs)

(12, 3, 52, 100, 100)

In [25]:
# Make a list of single number 

num = (10)
print(num)
type(num)

10

int

In [26]:
# In above cell we not made tuple of single number

# For creating tuple ',' is required to seperate it's item

num = (10,)
print(num)
type(num)

(10,)

tuple

In [29]:
# Count of numbers in tuple

hundred_runs_count = runs.count(100)
hundred_runs_count

2

## If statement

If statements are used to test for particular conditions and
respond appropriately.

Conditional tests

equals x == 42
not equal x != 42
greater than x > 42
greater than or equal to x >= 42
less than x < 42
less than or equal to x <= 42

Conditional test with lists

'trek' in bikes
'surly' not in bikes

Assigning boolean values

game_active = True
can_edit = False

In [36]:
# A simple if test
age=21
if age>=18:
    print("You can vote!")

You can vote!

In [39]:
# if else

age = 17

if age>=18:
    print("You can Vote!")
    
else:
    print("You can cont vote before 18 years old!")

You can cont vote before 18 years old!

In [42]:
# If-elif-else statements

age = 21

if age < 4:
    ticket_price = 0
elif age < 18:
    ticket_price = 10
else:
    ticket_price = 15
    
print("Your Ticket price is :",ticket_price)

Your Ticket price is : 15